.formContainer {
    padding-bottom: 50px;
    margin: 0;
    align-content: center;
    justify-content: center;
}

.textCenter {
    scrollbar-width: none;
    text-align: center;
    margin: 0;
}

.formControl {
    color: #000;
    width: 85vw;
    border: 1px solid black;
    border-radius: 5px;
}

#contactTextArea {
    width: 90vw;
    border: 1px solid black;
}

.formContainer > div > * {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.formContainer > div {
    display: block;
    justify-content: center;
    align-content: center;
}

.formContainer > button {
    color: black;
}